* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    display: flex;
    /* color: #fff; */
    background-color: #1f2937; 
    padding: 20px 0;
    justify-content: center;
  }
  
  .menu {
   /* border: 1px solid #fff;*/
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .date {
    color: aquamarine;
  }

  .links {
   /* border: 1px solid #fff;  /* For debugging */
    display: flex;
    color: aqua;
    justify-content: flex-end;
  }
  
  .aboutus{
    margin-left: 20px;
  }
  .login {
    margin-left: 20px;
  }


  .header-container {
    display: flex;
    /* color: #fff; */
    background-color: #1473f7; 
    padding: 20px 0;
    justify-content: center;
  }

  .site-desc {
    /* border: 1px solid #fff;*/
     width: 900px;
     display: flex;
     justify-content: flex-start;
     
   }

   .desc-container{
    justify-content: column;
   }

   .site-img {
    display: flex;
    justify-content: flex-start;
   }

   .body-container{
    display: flex;
    /* color: #fff; */
    background-color: #99b5db; 
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
   }

   .body-title{
    display: flex;
    color: #1f2937;
    border:black solid;
    background-color: #99b5db; 
    justify-content: center;
    flex: 1 1 content;
    padding: 8px;
    width: max-content;
   }

   .body-grid{
    display: flex;
    border: black solid;
    width: 1000px;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
   }

   .grid-item{
    display: flex;
    border: 1px solid #fff;
    width: 200px;
    height: 200px;
    padding: 30px;
   }
   

   .body2-container{
    display: flex;
    height: 200px;
    background-color: #1473f7; 
    padding: 20px 0;
    flex-direction: row;
    justify-content: center;
   }

   .body2-child-container{
    display: flex;
    padding: 20px;
    border: black solid;
    width: 1000px;
   }

   .footer-container{
    display: flex;
    /* color: #fff; */
    background-color: #1f2937; 
    padding: 20px 0;
    justify-content: center;
   }

  